<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>tk portfolio</title>
  <link rel="stylesheet" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
</head>

<body>
  <header></header>
  <main>
    <div id="main-visual">
      <h1>Hello World!</h1>
      
    </div>
    <section id="personal"></section>
    <section id="career"></section>
    <section id="portfolio"></section>
    
  </main>
  <footer></footer>
  <script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>